body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'basis_grotesque_pro',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main */
.app {
    color: #1A1919;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    padding: 0 20px 40px;
    text-align: center;
}

.app-logo {
    margin: 13vh 0 6vh;
    height: 32px;
    width: 179px;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.app-logo h1 {
    margin: 0;
    padding: 0;
}



/* Buttons */
.app-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.app-buttons-wrapper .app-button {
    margin: 0;
    max-width: 48%;
}

.app-button {
    background: #ffffff;
    border: 1px solid #D3D8DC;
    border-radius: 6px;
    color: #060E1E;
    cursor: pointer;
    font-family: "basis_grotesque_pro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 30px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 48px;
    width: 192px;
}

.app-button__primary {
    background: #316FEA;
    border: 1px solid #316FEA;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

.app-button__secondary {
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

.app-button__with-ico::before {
    content: '';
    display: block;
    margin-right: 10px;
    height: 18px;
    width: 18px;
}

.app-button__with-ico__google::before {
    background: url(../public/google_ico.svg) 0 0 no-repeat;
    background-size: 100%;
}

.app-button__with-ico__git::before {
    background: url(../public/git_ico.svg) 0 0 no-repeat;
    background-size: 100%;
    width: 21px;
}


/* Forms and Elements*/

.app-form-wrapper {
    margin: auto;
    max-width: 400px;
}

.app-input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 25px;
}

.app-input-wrapper__password {

}

.app-input-wrapper .app-link {
    align-self: flex-end;
    margin: 15px 0 7px;
}

.app-input {
    border: 1px solid #D3D8DC;
    border-radius: 6px;
    box-sizing: border-box;
    color: #060E1E;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 14px 12px;
    outline: 0;
    line-height: 1;
    height: 48px;
    width: 100%;
}

.app-input-label {
    align-self: flex-start;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.app-input::placeholder {
    color: #A1ABB5;
}

.app-input__password {
    padding-right: 30px;
}

.app-input-wrapper__password {
    position: relative;
}

.app-input-wrapper__password-toggle {
    background: transparent;
    border: 0;
    outline: none;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 9px;
    top: 9px;
}

.app-input-wrapper__password-toggle::before,
.app-input-wrapper__password-toggle::after {
    content: '';
    background: url(../public/eye_ico.svg) 0 0 no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
}

.app-input-wrapper__with-label .app-input-wrapper__password-toggle {
    top: 37px;
}

.app-input-wrapper__password-toggle::before {
    content: '';
    display: none;
    background: #67717B;
    height: 1px;
    width: 20px;
    z-index: 1;
    transform: rotate(45deg);
    top: 14px;
    left: 5px;
}

.app-input-wrapper__password-toggle.unhashed::before {
    display: block;
}

.app-divider {
    color: #BEC5CC;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}

.app-validation-message {
    color: red;
    display: flex;
    font-size: 12px;
    align-self: flex-start;
    margin: 5px 0;
    animation: fadeIn 2s linear;
}

.app-validation-message__success {
    color: green;
}

@keyframes fadeIn {
    0% { opacity: 0; height: 0; }
    100% { opacity: 1; height: 100%; }
}

.app-divider::before,
.app-divider::after {
    content: '';
    border-top: 1px solid #E3E6E9;
    width: inherit;
}

.app-divider::before {
    margin-right: 5px;
}

.app-divider::after {
    margin-left: 5px;
}

.app-link {
    color: #316FEA;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
}


/* Typography */

.app-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 40px;
}


/* Fonts */

@font-face {
    font-family: 'basis_grotesque_pro';
    src: url('../public/fonts/basisgrotesquepro-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/basisgrotesquepro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'basis_grotesque_pro';
    src: url('../public/fonts/basisgrotesquepro-bold-webfont.woff2') format('woff2'),
    url('../public/fonts/basisgrotesquepro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'basis_grotesque_pro';
    src: url('../public/fonts/basisgrotesquepro-medium-webfont.woff2') format('woff2'),
    url('../public/fonts/basisgrotesquepro-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
